@charset "UTF-8";
*{
	font-family: Arial, sans-serif;
}
body{
	background:#e1e1e1;
	padding:30px;
	padding-top:100px;
}
.profile-header{
	background:#ffffff;
	display:flex;
	align-items:center;
	gap:25px;
	padding:25px;
    border-radius:10px;
    margin-bottom:30px;
}
#propicprofilo{
	width:130px;
	height:130px;
    border-radius:50%;
}
#infoprofilo{
	display:flex;
	flex-direction:column;
}
.profile-section{
	background:#ffffff;
	gap:25px;
	padding:25px;
    border-radius:10px;
    margin-bottom:30px;
}
section h2{
    margin-bottom:15px;
}
#imgs{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}
.imglavoro{
	width:100%;
	height:180px;
}
.profile-footer{
	background:#ffffff;
	gap:25px;
	padding:25px;
    border-radius:10px;
    margin-bottom:30px;
}
.recensione{
    padding:20px 0;
    border-bottom:1px solid grey;
}
.top{
    display:flex;
    align-items:center;
    gap:15px;
}
.propic{
    width:50px;
    height:50px;
    border-radius:50%;
}
.center{
    display:flex;
    gap:20px;
    margin-top:8px;
    font-size:14px;
    color:#666;
}

.contatta-class {
 
  display: block;
  text-decoration: none !important; 
  

  background-color: #3b5bdb;       
  padding: 14px 20px;
  border-radius: 12px;
  text-align: center;
  
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  

  border: none;
  outline: none;
  transition: all 0.2s ease;
}

.contatta-class:visited {
  color: #ffffff !important;
}


.contatta-class:hover {
  background-color: #2b47b3;
  color: #ffffff !important;
  text-decoration: none !important;
  transform: translateY(-1px);
}




