@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( 90.8deg,  rgba(27,53,68,1) 2.2%, rgba(110,180,135,1) 84% );
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
form{
    background:#ffffff;
    padding:30px 40px;
    border-radius:12px;
    width:350px;
}
h1{
    position:absolute;
    top:80px;
    color:white;
    font-size:32px;
}
label{
    font-weight:bold;
    display:block;
    margin-top:10px;
    margin-bottom:5px;
}
select{
    width:100%;
    padding:8px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-bottom:10px;
}
textarea{
    width:100%;
    height:100px;
    padding:8px;
    border-radius:6px;
    border:1px solid #bfbfbf;
    resize:none;
}
input[type="submit"]{
    width:100%;
    margin-top:15px;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#4facfe;
    color:#ffffff;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}
input[type="submit"]:hover{
    background:#0077ff;
    transform:scale(1.03);
}